.title{
    text-align: center;   
    background-color: white; 
    padding: 4px;
    margin-bottom: 10px;
}

body{
    background-color: black;
}

.post{
    background-color: #726b6b;
    width: 40%;
    margin: auto;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

.post-footer{
    text-align: center;
    margin: 10px;
}

img{
    width: 100%;
}

p{
    padding: 20px;

}
